<div class="card">
  <div>have a question? we can help.</div>

  <app-accordion>
    <app-accordion-item question="Title 1">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere expedita,
      minima consequatur voluptate, vel consequuntur esse nesciunt molestiae
      facilis non sed sequi, perferendis recusandae et ea explicabo nihil
      quaerat sint.
    </app-accordion-item>
    <app-accordion-item question="Title 2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere expedita,
      minima consequatur voluptate, vel consequuntur esse nesciunt molestiae
      facilis non sed sequi, perferendis recusandae et ea explicabo nihil
      quaerat sint.
    </app-accordion-item>
    <app-accordion-item question="Title 3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere expedita,
      minima consequatur voluptate, vel consequuntur esse nesciunt molestiae
      facilis non sed sequi, perferendis recusandae et ea explicabo nihil
      quaerat sint.
    </app-accordion-item>
  </app-accordion>
</div>
