@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

.header {
  border-bottom: 1px solid rgba(0, 0, 0);
  min-height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  .headerTitle {
    overflow-wrap: break-word;
    overflow: auto;
    width: 100%;
    font-weight: 600;
  }

  .plus {
    font-size: 38px;
    background-color: #fed230;
    width: 58px;
    height: 58px;
    margin: auto;
    text-align: center;
  }
}

.acc-body {
  min-height: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  border-bottom: 3px solid rgba(0, 0, 0);
  // font-size: 50px;
}

@media only screen and (max-width: 760px) {
  .plus {
    font-size: 20px !important;
    height: 30px !important;
    width: 30px !important;
  }
}
